<footer class="mt-auto bg-dark text-white py-3">
  <div class="container">
    
    <div class="row g-2">
      
      <div class="col-md-4">
        <h6 class="mb-1">À propos</h6>
        <p class="mb-0">Petite start-up qui gère de ouf dans le partage de ragots et de saloperies sur les gens</p>
      </div>
      <div class="col-md-4">
        <h6 class="mb-1">Liens rapides</h6>
        <ul class="list-unstyled mb-0">
          <li><%= link_to "Page d'accueil", root_path, class: "text-decoration-none text-white" %></li>
          <li><%= link_to "Team", static_pages_team_path, class: "text-decoration-none text-white" %></li>
          <li><%= link_to "Contact", static_pages_contact_path, class: "text-decoration-none text-white" %></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h6 class="mb-1">Nous suivre</h6>
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#" class="text-white"><i class="bi bi-instagram"></i></a></li>
        </ul>
      </div>

    </div>

    <hr class="my-2">

    <div class="text-center">
      <p class="mb-0">&copy; 2026 The Gossip Project</p>
    </div>

  </div>
</footer>