/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
footer {
  background-color: #343a40;
  color: #fff;
  padding: 3rem 0;
  position: fixed;
}

.social-icons a {
  font-size: 1.25rem;
}

.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
}

.nav-link {
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ccc !important;
}

.nav-link.active {
  color: #fff !important;
}

.form-control {
  border-radius: 20px 0 0 20px;
}

.btn-outline-light {
  border-radius: 0 20px 20px 0;
}

/* Page Contact */

body {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  padding-top: 50px;
}

.card {
  border-radius: 10px;
}

.card-body {
  padding: 2rem;
}

.card-title {
  margin-bottom: 1.5rem;
}

.btn-primary {
  background-color: #ff6f61;
  border-color: #ff6f61;
}

.btn-primary:hover {
  background-color: #e85c50;
  border-color: #e85c50;
}